@import 'tailwindcss';

body {
  @apply min-h-screen bg-gradient-to-br from-[#0b0011] to-[#000000] text-white;
  /*@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');*/
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
  font-family: "Ubuntu Mono", sans-serif;
}

profile-colored-text {
  color: orange;
}

/*
.footer-button-img {
  @apply h-5 w-5;
}
*/

/*.img-button-1 {
  @apply flex items-center gap-1 p-1 rounded-sm border-1 border-solid border-orange-500/25 bg-orange-500/10 transition-colors;
}
.img-button-1:hover {
  @apply flex items-center gap-1 p-1 rounded-sm border-1 border-solid border-orange-500/10 bg-gradient-to-r from-orange-500/25 to-orange-500/10 transition-colors;
}
.img-button-1:active {
  @apply flex items-center gap-1 p-1 rounded-sm border-1 border-solid border-orange-500/0 bg-orange-500/30 transition-colors;
}*/

/* Ubuntu Fonts from Google Fonts
.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.ubuntu-mono-regular {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-mono-bold {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-mono-regular-italic {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-mono-bold-italic {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 700;
  font-style: italic;
}
*/